@font-face {
    font-family: "Titles";
    src: url("./files/Ubuntu-B.ttf");
}

@font-face {
    font-family: "Normal";
    src: url("./files/Ubuntu-L.ttf?");
}

@font-face {
    font-family: "Light";
    src: url("./files/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Subway";
    src: url("./files/SubWay.ttf");
}

* {
    font-family: "Normal";
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

body {
    background: #000;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#landing_view_background_bottom_left {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 386px;
    height: 373px;
}

#landing_view_background_bottom_right {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 386px;
    height: 373px;
}

#landing_view_background_gradient {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#landing_view_background_logo {
    z-index: 2;
    width: 145px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 100px;
}

#centre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#centre2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -25%;
}

.box_x1 {
    z-index: 100;
    height: 209px;
    width: 234px;
    background: #E9E9E1;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 8px;
}
.box_x1 #header {
    width: 238px;
    margin-left: -2px;
    margin-top: -2px;
    height: 33px;
    background: #367897;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #000;
}

.box_x1 #header #title {
    margin-top: 0px;
    padding-top: 7px;
    cursor: default;
    font-family: "Titles";
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
}

.box_x1 #information {
    margin-top: 0px;
    padding: 7px;
    cursor: default;
    color: #000;
    font-size: 10pt;
}

.box_x1 input[type=text] {
    width: 204px;
    height: 18px;
    background: #FFF;
    border: 1px solid #000;
    padding-left: 5px;
    position: absolute;
    bottom: 40px;
    left: 10px;
}

input:focus {
    outline: none;
}

.box_x1 #button {
    margin: auto;
    -webkit-appearance: none;
    width: 66px;
    height: 21px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background: url("./files/images/other/button.png") transparent;
    border:none;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    padding-top: 3px;
}

.purse {
    z-index: 50;
    position: absolute;
    right: 10px;
    top: 0;
    width: 185px;
    height: 68px;
    border: 2px solid rgba(65, 64, 61, 0.8);
    box-shadow: 0px 0px 0px 1.5px rgba(28, 28, 26, 0.8);
    background: rgba(28, 28, 26, 0.8);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.purse #help {
    position: absolute;
    top: 3px;
    right: 5px;
}

.purse #logout {
    background: url("./files/images/other/logout.png") no-repeat #DD5246 25px 2px;
    position: absolute;
    top: 24px;
    right: 5px;
}

.purse #settings {
    background: url("./files/images/other/settings.png") no-repeat #716A85 25px 2px;
    position: absolute;
    top: 45px;
    right: 5px;
}

.purse #vr {
    width: 1px;
    background: #444444;
    height: 55px;
    position: absolute;
    top: 6px;
    right: 71px;
}

.purse .button_x1 {
    width: 58px;
    height: 16px;
    background: #207AB4;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px -1px #1A6290;
    color: #fff;
    font-size: 10pt;
    font-face: "Light";
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.purse .button_x1:hover {
    border: 2px solid #000;
    border-radius: 4px;
}

.purse .button_x2 {
    width: 58px;
    height: 16px;
    background: #DD5246;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px -1px #B04238;
    color: #fff;
    font-size: 10pt;
    font-face: "Light";
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.purse .button_x2:hover {
    border: 2px solid #000;
    border-radius: 4px;
}

.purse .button_x3 {
    width: 58px;
    height: 16px;
    background: #716A85;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px -1px #5A556A;
    color: #fff;
    font-size: 10pt;
    font-face: "Light";
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.purse .button_x3:hover {
    border: 2px solid #000;
    border-radius: 4px;
}

.purse #diamonds {
    background: url("./files/images/other/sprites.png") 0px 0px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    right: 76px;
    cursor: pointer;
}

.purse #diamonds_amount {
    position: absolute;
    top: 6px;
    right: 96px;
    float: right;
    color: #35C1E0;
    font-family: "Light";
    font-size: 9pt;
    cursor: pointer;
}

.purse #credits {
    background: url("./files/images/other/sprites.png?") -15px 0px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 24px;
    right: 76px;
    cursor: pointer;
}

.purse #credits_amount {
    position: absolute;
    top: 25px;
    right: 96px;
    float: right;
    color: #D4AE21;
    font-family: "Light";
    font-size: 9pt;
    cursor: pointer;
}

.purse #pixels {
    background: url("./files/images/other/sprites.png?") -30px 0px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 43px;
    right: 76px;
    cursor: pointer;
}

.purse #pixels_amount {
    position: absolute;
    top: 44px;
    right: 96px;
    float: right;
    color: #CD81CD;
    font-family: "Light";
    font-size: 9pt;
    cursor: pointer;
}

.diamonds, .credits, .pixels {
    cursor: pointer;
    width: 115px;
    height: 15px;
}

footer {
    z-index: 50;
    height: 47px;
    background: #2E2E2C;
    width: 100%;
    position: absolute;
    bottom: 1px;
    border-bottom: 1px solid #53524F;
    border-top: 2px solid #53524F;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
}

footer #view {
    background: url("./files/images/other/sprites.png?") -45px 0px;
    position: absolute;
    left: 25px;
    bottom: 8px;
    height: 31px;
    width: 33px;
    cursor: pointer;
}

footer #view:hover {
    background: url("./files/images/other/sprites.png?") -78px 0px;
    height: 32px;
    width: 34px;
    left: 24px;
    bottom: 9px;
}

footer #navigator {
    background: url("./files/images/other/sprites.png?") 0px -82px;
    position: absolute;
    height: 31px;
    width: 45px;
    left: 72px;
    bottom: 7px;
    cursor: pointer;
}

footer #navigator:hover {
    background: url("./files/images/other/sprites.png?") 0px -50px;
    height: 32px;
    width: 45px;
    left: 70px;
    bottom: 8px;
}

footer #shop {
    background: url("./files/images/other/sprites.png?d") -45px -70px;
    position: absolute;
    height: 38px;
    width: 38px;
    left: 129px;
    bottom: 4px;
    cursor: pointer;
}

footer #shop:hover {
    background: url("./files/images/other/sprites.png?") -45px -31px;
    height: 39px;
    width: 39px;
    left: 127px;
    bottom: 6px;
}

footer #inventory {
    background: url("./files/images/other/sprites.png?g") -83px -75px;
    position: absolute;
    height: 42px;
    width: 45px;
    left: 181px;
    bottom: 2px;
    cursor: pointer;
}

footer #inventory:hover {
    background: url("./files/images/other/sprites.png?g") -84px -32px;
    height: 43px;
    width: 45px;
    left: 180px;
    bottom: 3px;
}

footer #avatar {
    position: absolute;
    overflow: hidden;
    left: 230px;
    height: 62px;
    width: 80px;
    bottom: 5px;
    cursor: pointer;
}

footer #avatar img:hover {
    -webkit-filter: drop-shadow(0 1px 0 #0E0E0D) drop-shadow(0 -1px 0 #0E0E0D) drop-shadow(1px 0 0 #0E0E0D) drop-shadow(-1px 0 0 #0E0E0D) drop-shadow(0 0 10px rgba(000,000,000,000));
}


.box_x2 {
    display: none;
    z-index: 100;
    height: 455px;
    width: 442px;
    background: #E9E9E1;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 8px;
}
.box_x2 #header {
    width: 446px;
    margin-left: -2px;
    margin-top: -2px;
    height: 33px;
    background: #367897;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #000;
}

.box_x2 #header #title {
    margin-top: 0px;
    padding-top: 7px;
    cursor: default;
    font-family: "Titles";
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
}

#close {
    background: url("./files/images/other/sprites.png?cross") 0px -30px;
    width: 19px;
    height: 20px;
    right: 8px;
    top: 4px;
    position: absolute;
    cursor: pointer;
}

#close:hover {
    background: url("./files/images/other/sprites.png?cross") -19px -30px;
}

.box_x2 #information {
    margin-top: 15px;
    margin-left: 20px;
    padding: 7px;
    cursor: default;
    color: #000;
    font-size: 18pt;
    font-family: "Titles";
}

#help_centre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.box_x2 #image {
    position: absolute;
    left: 20px;
    top: 100px;
}

.box_x2 #tip {
    position: absolute;
    left: 150px;
    top: 85px;
    padding: 7px;
    cursor: default;
    color: #000;
    font-size: 9pt;
    font-width: lighter;
}

.box_x2 #button1, .box_x2 #button1_ {
    width: 380px;
    height: 31px;
    background: url("./files/images/other/buttons_sprite.png") 0px 0px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "Normal";
    color: #FFF;
    font-size: 12pt;
    padding-top: 9px;
}

.box_x2 #button4_{
    width: 189px;
    height: 31px;
    background: url("./files/images/other/buttons_sprite.png") 0px -80px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "Normal";
    color: #FFF;
    font-size: 12pt;
    padding-top: 9px;
}

.box_x2 #button1:hover, .box_x2 #button2:hover, .box_x2 #button3:hover, .box_x2 #button1_:hover, .box_x2 #button2_:hover, .box_x2 #button3_:hover {
    background: url("./files/images/other/buttons_sprite.png") 0px -40px;
}

.box_x2 #button1_, .box_x2 #button2_, .box_x2 #button3_, .box_x2 #button4_ {
    display: none;
}

.box_x2 #button2, .box_x2 #button3, .box_x2 #button2_, .box_x2 #button3_ {
    width: 380px;
    height: 31px;
    background: url("./files/images/other/buttons_sprite.png") 0px 0px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "Normal";
    color: #FFF;
    font-size: 12pt;
    padding-top: 9px;
}

.box_x3 {
    display: none;
    z-index: 100;
    height: 109px;
    width: 234px;
    background: #E9E9E1;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 8px;
}
.box_x3 #header {
    width: 238px;
    margin-left: -2px;
    margin-top: -2px;
    height: 33px;
    background: #367897;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #000;
}

.box_x3 #header #title {
    margin-top: 0px;
    padding-top: 7px;
    cursor: default;
    font-family: "Titles";
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
}

.box_x3 #information {
    margin-top: 0px;
    padding: 7px;
    cursor: default;
    color: #000;
    font-size: 10pt;
    font-family: "Normal";
    font-weight: bold;
}

.box_x3 #button {
    margin: auto;
    -webkit-appearance: none;
    width: 66px;
    height: 19px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background: url("./files/images/other/button.png") transparent;
    border:none;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    padding-top: 3px;
}

footer #vr {
    height: 40px;
    width: 1px;
    margin-left: 5px;
    background: #454442;
    position: absolute;
    left: 290px;
    top: 4px;
}

footer #collpase_right {
    width: 14px;
    height: 43px;
    float: right;
    background: url("./files/images/other/sprites.png") -14px -113px;
    margin-right: 0px;
    margin-top: 2px;
    cursor: pointer;
}

footer #friends_right {
    width: 30px;
    height: 32px;
    float: right;
    background: url("./files/images/other/sprites.png") 0px -156px;
    margin-left: 0px;
    cursor: pointer;
    margin-top: 8px;
}

footer #friends_right:hover {
    background: url("./files/images/other/sprites.png") -30px -156px;
}

footer #no_user {
    background: url("./files/images/other/buttons_sprite.png") 0px -121px;
    width: 127px;
    height: 38px;
    float: right;
    margin-top: 4px;
    margin-left: 3px;
    cursor: pointer;
}

footer #no_user:hover {
    background: url("./files/images/other/buttons_sprite.png") -127px -121px;
}

footer #search_friend {
    background: url("./files/images/other/sprites.png") 0px -220px;
    width: 30px;
    height: 34px;
    float: right;
    margin-top: 6px;
    margin-right: 52px;
    cursor: pointer;
}

footer #search_friend:hover {
    background: url("./files/images/other/sprites.png") -30px -220px;
    margin-right: 54px;
    margin-top: 4px;
}

footer #manage_friends {
    background: url("./files/images/other/sprites.png") 0px -255px;
    width: 33px;
    height: 34px;
    float: right;
    margin-top: 6px;
    margin-right: 12px;
    cursor: pointer;
}

footer #manage_friends:hover {
    background: url("./files/images/other/sprites.png") -33px -255px;
    margin-right: 14px;
    margin-top: 4px;
}

footer #vr2 {
    height: 40px;
    margin-top: 4px;
    width: 1px;
    margin-right: 10px;
    background: #454442;
    float: right;
}

footer #friends_left {
    width: 30px;
    height: 32px;
    float: right;
    background: url("./files/images/other/sprites.png") 0px -188px;
    margin-right: -4px;
    cursor: pointer;
    margin-top: 8px;
}

footer #friends_left:hover {
    background: url("./files/images/other/sprites.png") -30px -188px;
}

footer #user {
    background: url("./files/images/other/buttons_sprite.png?") 0px -161px;
    width: 91px;
    height: 36px;
    float: right;
    margin-top: 6px;
    margin-left: 3px;
    cursor: pointer;
    padding-top: 0px;
    padding-left: 36px;
    font-size: 10pt;
    color: #FFF;
    font-weight: bold;
}

footer #user p {
    margin-top: -35px;
}

footer #user:hover {
    background: url("./files/images/other/buttons_sprite.png?") -127px -161px;
    margin-top: 6px;
}

footer #user img {
    margin-top: -40px;
    margin-left: -50px;
    padding-top: 20px;
}

*[title]:hover:after{
    content: attr(title);
    padding: 4px 6px;
    font-size: 8pt;
    font-family: "Light";
    font-weight: lighter;
    width: auto;
    color: #fff;
    float: left;
    z-index: 101;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #000;
}

.box_x4 {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 100;
    height: 305px;
    width: 484px;
    background: #E9E9E1;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 8px;
}
.box_x4 #header {
    width: 488px;
    margin-left: -2px;
    margin-top: -2px;
    height: 33px;
    background: #367897;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #000;
}

.box_x4 #header #title {
    margin-top: 0px;
    padding-top: 7px;
    cursor: default;
    font-family: "Titles";
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
}

.box_x4 #information {
    position: absolute;
    top: 68px;
    cursor: default;
    color: #000;
    font-size: 10pt;
    font-family: "Normal";
    font-weight: bold;
    background-color: #ECEAE0;
    width: 100%;
    height: 238px;
    z-index: 61;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box_x4 #bar {
    margin-top: 6px;
    width: 478px;
    height: 29px;
    background-color: transparent;
    float: left;
    border-bottom: 1px solid #000;
    box-shadow: 0px 1px 0px #FFF;
}

.box_x4 #furnitures, .box_x4 #rentables, .box_x4 #bots, .box_x4 #badges, .box_x4 #pets {

    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-top: 1px;
    border-top-left-radius: 8px;
    font-family: "Light";
    font-weight: normal;
    font-size: 10pt;
    padding-top: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid #4D4C49;
    border-top: 1px solid #4D4C49;
    border-right: 1px solid #4D4C49;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: -4px;
    height: 21px;
    width: auto;
    background: #C3C2B8;
    cursor: pointer;
}

.box_x4 #furnitures:hover, .box_x4 #rentables:hover, .box_x4 #bots:hover, .box_x4 #badges:hover, .box_x4 #pets:hover {
    background: #ECEAE0;
    border-left: 2px solid #FFF;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    box-shadow: 0px 0px 0px 1px #000;
    margin-right: -3px;
    padding-left: 4px;
    padding-right: 4px;
}

.box_x4 #furnitures { /* Also selected */
    margin-left: 15px;

    /* Selected */
    background: #ECEAE0;
    border-left: 2px solid #FFF;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    box-shadow: 0px 0px 0px 2px #000;
    margin-right: -2px;
    padding-left: 4px;
    padding-right: 4px;
}